<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="post" action="ura">
      <input type="text" size="20" name="text1"/>
      <input type="submit" value="Send">
      <input type="text" size="20" name="text2"/>
    </form>
  </body>
</html>
