<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<form method="post" action="ura">
    <input type="text" size="20" name="text1"/>
    <input type="submit" value="Send">
    <input type="text" size="20" value="<%= data.text1 %>"/>
</form>
</body>
</html>